body{
    background-color: hsl(212, 45%, 89%);
}
.box{
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    margin: 70px auto;
    width: 260px;
}
.main_picture, img{
     width: 230px; 
    border-radius: 20px;
    /* display: block; */
    padding: 8px 8px 0px;
} 
.main{
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 10px;
    font-family: Outfit;
    height: 150px;
   /* background-color: pink; */ */
}
h3{
    color: hsl(218, 44%, 22%);

}
p{
    color: hsl(220, 15%, 55%);
    font-size: 15px;
}